<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>API Links</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
       <h1>Welcome Sir</h1>
       <h3>Created API on given problem model</h3>
       <h3>Below are links to given scenario </h3>

       <a href="POST/client" target="_blank">Register a client</a> <br><br>
       <a href="GET/client" target="_blank">List a clients</a> <br><br>
       <a href="PUT-PATCH/client/:1" target="_blank">Edit client info (In URL after colon enter id by Defatult set to 1)</a> <br><br>
       <a href="DELETE/clients/:4" target="_blank">Delete client Info (In URL after colon enter id by Defatult set to 4)</a> <br><br>
       <a href="GET-POST/projects" target="_blank">Add new projects & List Them for a client and assign one or multiple users to those projects.</a> <br><br>
       <a href="editDeleteProject/:1" target="_blank">Update or Delete project and its user or clients (In URL after colon enter id by Defatult set to 1)</a> <br><br>
       <a href="admin/" target="_blank">Admin Page (username:'vinay' & password:'vinay123')</a> <br><br>

       <br><br>
       <h2>Solution submitted by:- Vinay Bhagwat</h2>
        
      
    </body>
</html>